<div id="page-wrapper">
    <div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Dashboard
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-info alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <i class="fa fa-info-circle"></i><strong>  New to Smartups?</strong> Try out <a href="http://startbootstrap.com/template-overviews/sb-admin-2" class="alert-link">SB Admin 2</a> for additional features!
            </div>
        </div>
		<div class="col-lg-6">
			<div class="panel panel-default">
				<div class="panel-heading">
				    <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Notifications</h3>
				</div>
				<div class="panel-body">
				<% if @notifications.empty? %>

					 	 There are no notifications right now.
				
				<% else %>
				   <div class="list-group">
				    		<% @notifications.each do |n| %>
				    			<%= link_to "users/#{n[:redirect].id}", :class => 'list-group-item' do %>
				    				<span class="badge"><%= time_ago_in_words(n[:when]).gsub('minutes', 'mins') %> ago</span>
				    				<i class="fa fa-fw fa-user"></i> <%= n[:text] %>
				    			<% end %>
				    		<% end %>
				   </div>
				   <div class="text-right">
					   <a href="notifications.html">View All Notifications <i class="fa fa-arrow-circle-right"></i></a>
				   </div>
			  <% end %>
			 </div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="panel panel-default">
		        <div class="panel-heading">
				      <h3 class="panel-title"><i class="fa fa-area-chart fa-fw"></i> Trending News</h3>
				    </div>
				    <div class="panel-body">
				      <div class="list-group">
				        <a href="#" class="list-group-item">
				            <span class="badge">The Guardian</span>
				            <i class="fa fa-fw fa-newspaper-o"></i> Calendar updated
				        </a>
				        <a href="#" class="list-group-item">
				            <span class="badge">The New York Times</span>
				            <i class="fa fa-fw fa-newspaper-o"></i> Commented on a post
				        </a>
				        <a href="#" class="list-group-item">
				            <span class="badge">The Guardian</span>
				            <i class="fa fa-fw fa-newspaper-o"></i> Order 392 shipped
				        </a>
				        <a href="#" class="list-group-item">
				            <span class="badge">The New York Times</span>
				            <i class="fa fa-fw fa-newspaper-o"></i> Invoice 653 has been paid
				        </a>
				        <a href="#" class="list-group-item">
				            <span class="badge">The Guardian</span>
				            <i class="fa fa-fw fa-newspaper-o"></i> A new user has been added
				        </a>
				        <a href="#" class="list-group-item">
				            <span class="badge">The New York Times</span>
				            <i class="fa fa-fw fa-newspaper-o"></i> Completed task: "pick up dry cleaning"
				        </a>
				        <a href="#" class="list-group-item">
				            <span class="badge">The Guardian</span>
				            <i class="fa fa-fw fa-newspaper-o"></i> Saved the world
				        </a>
				        <a href="#" class="list-group-item">
				            <span class="badge">The New York Times</span>
				            <i class="fa fa-fw fa-newspaper-o"></i> Completed task: "fix error on sales page"
		            </a>
			      </div>
				    <div class="text-right">
				        <a href="news.html">More News <i class="fa fa-arrow-circle-right"></i></a>
				    </div>
			  </div>
		  </div>
	   </div>
</div>