<% provide(:title, 'Search') %>
<div id="page-wrapper">
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Search 
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <%= link_to 'Dashboard', dashboard_path %>
                            </li>
                            <li class="active">
                                <i class="fa fa-search"></i> Search
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->
							<div class="row">
                <div class="col-lg-12">
                      <div class="form-group input-group">
                          <input type="text" class="form-control">
                          <span class="input-group-btn"><button class="btn btn-default" type="button"><i class="fa fa-search"></i></button></span>
                      </div>
								</div>
							</div>
							<div class="row">
                <div class="col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>Smartup #1</strong>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
																		<img src = "https://placeholdit.imgix.net/~text?txtsize=38&txt=400%C3%97400&w=400&h=400" class ="img-thumbnail"><br><br>
                                    <ul class="fa-ul">
																			<li><i class="fa-li fa fa-calendar"></i>Joined on Blah Blah</li>
																			<li><i class="fa-li fa fa-globe"></i>Greece</li>
																			<li><i class="fa-li fa fa-clock-o"></i>01:08 Europe/Athens</li>
																		</ul>   
                                   <ul class="fa-ul">
																			<li><i class="fa-li fa fa-facebook"></i><a href="https://www.facebook.com/smartupsio/">/smartupsio</a></li>
																			<li><i class="fa-li fa fa-twitter"></i><a href="https://twitter.com/smartupsio/">@smartupsio</a></li>
																			<li><i class="fa-li fa fa-linkedin"></i><a href="https://twitter.com/smartupsio/">smartupsio</a></li>
																		</ul>                          
                                </div>
                                <!-- /.col-lg-6 (nested) -->

                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-3 -->

                <div class="col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>Smartup #2</strong>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
																		<img src = "https://placeholdit.imgix.net/~text?txtsize=38&txt=400%C3%97400&w=400&h=400" class ="img-thumbnail"><br><br>
                                    <ul class="fa-ul">
																			<li><i class="fa-li fa fa-calendar"></i>Joined on Blah Blah</li>
																			<li><i class="fa-li fa fa-globe"></i>Greece</li>
																			<li><i class="fa-li fa fa-clock-o"></i>01:08 Europe/Athens</li>
																		</ul>   
                                   <ul class="fa-ul">
																			<li><i class="fa-li fa fa-facebook"></i><a href="https://www.facebook.com/smartupsio/">/smartupsio</a></li>
																			<li><i class="fa-li fa fa-twitter"></i><a href="https://twitter.com/smartupsio/">@smartupsio</a></li>
																			<li><i class="fa-li fa fa-linkedin"></i><a href="https://twitter.com/smartupsio/">smartupsio</a></li>
																		</ul>                          
                                </div>
                                <!-- /.col-lg-6 (nested) -->

                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-3 -->

                <div class="col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>Smartup #3</strong>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
																		<img src = "https://placeholdit.imgix.net/~text?txtsize=38&txt=400%C3%97400&w=400&h=400" class ="img-thumbnail"><br><br>
                                    <ul class="fa-ul">
																			<li><i class="fa-li fa fa-calendar"></i>Joined on Blah Blah</li>
																			<li><i class="fa-li fa fa-globe"></i>Greece</li>
																			<li><i class="fa-li fa fa-clock-o"></i>01:08 Europe/Athens</li>
																		</ul>   
                                   <ul class="fa-ul">
																			<li><i class="fa-li fa fa-facebook"></i><a href="https://www.facebook.com/smartupsio/">/smartupsio</a></li>
																			<li><i class="fa-li fa fa-twitter"></i><a href="https://twitter.com/smartupsio/">@smartupsio</a></li>
																			<li><i class="fa-li fa fa-linkedin"></i><a href="https://twitter.com/smartupsio/">smartupsio</a></li>
																		</ul>                          
                                </div>
                                <!-- /.col-lg-6 (nested) -->

                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-3 -->

                <div class="col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>Smartup #4</strong>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
																		<img src = "https://placeholdit.imgix.net/~text?txtsize=38&txt=400%C3%97400&w=400&h=400" class ="img-thumbnail"><br><br>
                                    <ul class="fa-ul">
																			<li><i class="fa-li fa fa-calendar"></i>Joined on Blah Blah</li>
																			<li><i class="fa-li fa fa-globe"></i>Greece</li>
																			<li><i class="fa-li fa fa-clock-o"></i>01:08 Europe/Athens</li>
																		</ul>   
                                   <ul class="fa-ul">
																			<li><i class="fa-li fa fa-facebook"></i><a href="https://www.facebook.com/smartupsio/">/smartupsio</a></li>
																			<li><i class="fa-li fa fa-twitter"></i><a href="https://twitter.com/smartupsio/">@smartupsio</a></li>
																			<li><i class="fa-li fa fa-linkedin"></i><a href="https://twitter.com/smartupsio/">smartupsio</a></li>
																		</ul>                          
                                </div>
                                <!-- /.col-lg-6 (nested) -->

                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-3 -->               

            </div>
            <!-- /.row -->

							<div class="row">
                <div class="col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>Smartup #5</strong>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
																		<img src = "https://placeholdit.imgix.net/~text?txtsize=38&txt=400%C3%97400&w=400&h=400" class ="img-thumbnail"><br><br>
                                    <ul class="fa-ul">
																			<li><i class="fa-li fa fa-calendar"></i>Joined on Blah Blah</li>
																			<li><i class="fa-li fa fa-globe"></i>Greece</li>
																			<li><i class="fa-li fa fa-clock-o"></i>01:08 Europe/Athens</li>
																		</ul>   
                                   <ul class="fa-ul">
																			<li><i class="fa-li fa fa-facebook"></i><a href="https://www.facebook.com/smartupsio/">/smartupsio</a></li>
																			<li><i class="fa-li fa fa-twitter"></i><a href="https://twitter.com/smartupsio/">@smartupsio</a></li>
																			<li><i class="fa-li fa fa-linkedin"></i><a href="https://twitter.com/smartupsio/">smartupsio</a></li>
																		</ul>                          
                                </div>
                                <!-- /.col-lg-6 (nested) -->

                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-3 -->

                <div class="col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>Smartup #6</strong>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
																		<img src = "https://placeholdit.imgix.net/~text?txtsize=38&txt=400%C3%97400&w=400&h=400" class ="img-thumbnail"><br><br>
                                    <ul class="fa-ul">
																			<li><i class="fa-li fa fa-calendar"></i>Joined on Blah Blah</li>
																			<li><i class="fa-li fa fa-globe"></i>Greece</li>
																			<li><i class="fa-li fa fa-clock-o"></i>01:08 Europe/Athens</li>
																		</ul>   
                                   <ul class="fa-ul">
																			<li><i class="fa-li fa fa-facebook"></i><a href="https://www.facebook.com/smartupsio/">/smartupsio</a></li>
																			<li><i class="fa-li fa fa-twitter"></i><a href="https://twitter.com/smartupsio/">@smartupsio</a></li>
																			<li><i class="fa-li fa fa-linkedin"></i><a href="https://twitter.com/smartupsio/">smartupsio</a></li>
																		</ul>                          
                                </div>
                                <!-- /.col-lg-6 (nested) -->

                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-3 -->

                <div class="col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>Smartup #7</strong>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
																		<img src = "https://placeholdit.imgix.net/~text?txtsize=38&txt=400%C3%97400&w=400&h=400" class ="img-thumbnail"><br><br>
                                    <ul class="fa-ul">
																			<li><i class="fa-li fa fa-calendar"></i>Joined on Blah Blah</li>
																			<li><i class="fa-li fa fa-globe"></i>Greece</li>
																			<li><i class="fa-li fa fa-clock-o"></i>01:08 Europe/Athens</li>
																		</ul>   
                                   <ul class="fa-ul">
																			<li><i class="fa-li fa fa-facebook"></i><a href="https://www.facebook.com/smartupsio/">/smartupsio</a></li>
																			<li><i class="fa-li fa fa-twitter"></i><a href="https://twitter.com/smartupsio/">@smartupsio</a></li>
																			<li><i class="fa-li fa fa-linkedin"></i><a href="https://twitter.com/smartupsio/">smartupsio</a></li>
																		</ul>                          
                                </div>
                                <!-- /.col-lg-6 (nested) -->

                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-3 -->

                <div class="col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>Smartup #8</strong>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
																		<img src = "https://placeholdit.imgix.net/~text?txtsize=38&txt=400%C3%97400&w=400&h=400" class ="img-thumbnail"><br><br>
                                    <ul class="fa-ul">
																			<li><i class="fa-li fa fa-calendar"></i>Joined on Blah Blah</li>
																			<li><i class="fa-li fa fa-globe"></i>Greece</li>
																			<li><i class="fa-li fa fa-clock-o"></i>01:08 Europe/Athens</li>
																		</ul>   
                                   <ul class="fa-ul">
																			<li><i class="fa-li fa fa-facebook"></i><a href="https://www.facebook.com/smartupsio/">/smartupsio</a></li>
																			<li><i class="fa-li fa fa-twitter"></i><a href="https://twitter.com/smartupsio/">@smartupsio</a></li>
																			<li><i class="fa-li fa fa-linkedin"></i><a href="https://twitter.com/smartupsio/">smartupsio</a></li>
																		</ul>                          
                                </div>
                                <!-- /.col-lg-6 (nested) -->

                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-3 -->               

            </div>